<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="forDiv">
			<div>v-for可以循环数组，也可以循环对象
				<span v-for="(item,index) in forArray" :key="index">
					{{index}} - {{item}}
				</span>
			</div>
			<div> v-for循环对象
				<span v-for="(value,name,index) in obj">
					{{index}}-{{name}}:{{value}}
				</span>file:///C:/Users/wuyuan/Desktop/lifecycle.png
			</div>
		</div>
		
		<script>
			var vm = new Vue({
				el: "#forDiv",
				data: {
					forArray:['a','b','c'],
					obj:{name:'tom',age:18
						
					},
				},
				watch: {
					msg: function(newQuestion, oldQuestion) {
						console.log("new:" + newQuestion);
						console.log("old:" + oldQuestion);
					}
				},
				methods: {
					
				}
			});
		</script>
	</body>
</html>
